
{% extends "_base.html" %}
{% load static %}
{% block content %}
<section id="home" class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mt-4">
				<h1 class="mb-4 text-center fw-bold">
					Expert Freelance Writing + Editing For Your Business & Academic Needs.
				</h1>
				<h5 class="fw-light">We are a freelance writing agency, with experts for your assignments, content, and data analysis tasks.</h5>
				<div class="mt-5">
					<a class="btn btn-purple text-white" href="#" role="button">Place Your Order</a>
				</div>
			</div>
			
			<div class=" col-md-6">
				<img class="img-fluid" src="{% static 'img/home.svg' %}" alt="">
			</div>
			
		</div>

	</div>
</section>
<section id="process">
	<div class="container">
		<h3 class="pt-5 mb-5 text-center fw-bold">How to order:</h3>
		<div class="row pb-4">
			<div class="col-md-3 text-center">
				<i class="fa-regular fa-clipboard fs-1 mb-4"></i>
				<p>To offer the best writing services possible, we need your assignment instructions. Please 
					complete the online form. </p>
				
				
			</div>

			<div class="col-md-3 text-center">
				<i class="fa-solid fa-user-pen fs-1 mb-4"></i>
				<p>To ensure the highest quality, we assign you an expert writer in your discipline. We have over 50 experienced
					writers who will handle your assignments.  </p>
				
				
			</div>
			<div class="col-md-3 text-center">
				<i class="fa-solid fa-inbox fs-1 mb-4"></i>
				<p>Once the assignment is completed, you will receive it via email. We provide free revisions to your satisfaction. </p>
				
				
			</div>
			<div class="col-md-3 text-center">
				<i class="fa-solid fa-file-invoice-dollar fs-1 mb-4"></i>
				<p>Pay for the services. Our services are fairly priced.  </p>
				
				
			</div>
		</div>
	</div>
</section>
<section id="services">
	<div class="container pt-5">
		<h2 class=" pt-5 fw-bold text-center">Why Us?</h2>
		<div class=" pt-3 row">
			<div class="text-center col-md-3">
				<h3><i class="fa-solid fa-circle-check"></i></h3>
				<h4>Topics from A to Z</h4>
				<p>Our professional writers work on diverse topics. We assign projects based on the writer's expertise.</p>
			</div>
			<div class="text-center col-md-3">
				<h3><i class="fa-solid fa-dollar-sign"></i></h3>
				<h4>Affordable Services.</h4>
				<p>We have the most competitive prices in the industry. </p>
			</div>
			<div class="text-center col-md-3">
				<h3 ><i class="fa-solid fa-headphones"></i></h3>
				<h4>24/7 Support</h4>
				<p>Our customer service department is available 24/7. In case of any query, please contant us via our email.</p>
			</div>
			<div class="text-center col-md-3">
				<h3 ><i class="fa-solid fa-file-shield"></i></h3>
				<h4>Secure Environment</h4>
				<p>We provide a secure freelancing platform: Your assignment details are only used for the order.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<h2 class=" pt-5 fw-bold text-center">Our Services</h2>
			<div class=" pt-3 row">
				<div class="col-md-6">
				<ul>
					<li><i class="fa-solid fa-circle-check mb-2"></i> AI Prompt Engineering</li>
					<li><i class="fa-solid fa-circle-check mb-2"></i> Editing AI Content</li>
					<li> <i class="fa-solid fa-circle-check mb-2"></i> Masters & PhD Dissertations</li>
					<li> <i class="fa-solid fa-circle-check mb-2"></i> Excel Data Analysis</li>
					<li><i class="fa-solid fa-circle-check mb-2"></i> Term Papers & Assignments</li>
					<li><i class="fa-solid fa-circle-check mb-2"></i> PowerPoint Presentations</li>
					<li><i class="fa-solid fa-circle-check mb-2"></i> College Application Essays</li>
					<li><i class="fa-solid fa-circle-check"></i> Editing Services</li>
				
					
				</ul>
			</div>
			<div class="col-md-6">
				<img class="img-fluid" style="height: 20em;" src="{% static 'img/grad.jpg' %}" alt="">
				
			</div>
		</div>
	</div>

</section>
<section id="testimonials">
	
</section>
	
{% endblock content %}
