body{
    font-family: Lato, sans-serif;
}
#home{
    height:6vh;
}
#socialnav{
    background-color: purple !important;
    color:white;
}
#socialnav a{
   color:white;
}
.btn-purple{
    background-color: #6399f4 !important;
}

.btn-purple :hover {
    background-color: black;
}

#process{
    background-color: #cf2e2e !important;
    color: white;
}

#process i {
    background-color: #cf2e2e !important;
    color: white;
}
#services{
    background-color: #ecf0f9;
}
#services ul{
    list-style: none;
}
#services ul li i{
    list-style: none;
    font-size: 14px;
    line-height: 1.6;
    color: #cf2e2e;
}
